<template>
  <div id="contact">
    <b-container>
      <b-row class="paddingTop">
        <b-col cols="12">
          <h2>Contact</h2>
          <hr />
        </b-col>
      </b-row>
      <b-row class="mt-5 d-flex align-items-center">
        <b-col cols="12" lg="6">
          <form
            name="contact"
            method="POST"
            action="https://formspree.io/xrgedvpn"
          >
            <b-form-group class="mb-0" label="Nom & Prénom" label-for="name">
              <b-form-input 
              id="name" 
              placeholder="Entrez votre nom" 
              name="name"
              required
              />
            </b-form-group>
            <b-form-group class="mb-0 mt-3" label="Email" label-for="email">
              <b-form-input 
              email 
              id="email" 
              placeholder="Entrez votre email" 
              name="email"
              required
              />
            </b-form-group>
            <b-form-group class="mb-0 mt-3" label="Message" label-for="message">
              <b-form-textarea
                id="message"
                placeholder="Entrez votre message"
                name="message"
                required
              />
            </b-form-group>
            <b-button pill type="submit" class="mt-3 mb-3 w-100"
              >Envoyer</b-button
            >
          </form>
        </b-col>
        <b-col cols="12" lg="6" class="d-flex flex-column">
          <b-row>
            <b-col cols="6">
              <b-button pill class="mb-5 w-100">
                <a href="./AxelAchardCVFr.pdf" target="blank">
                  Télécharger mon CV
                </a>
              </b-button>
            </b-col>
            <b-col cols="6">
              <b-button pill class="mb-5 w-100">
                <a href="./AxelAchardCVEn.pdf" target="blank">
                  Download my Resume
                </a>
              </b-button>
            </b-col>
          </b-row>
          <b-button pill class="mb-5">
            <a
              href="https://soundcloud.com/user-376685769/tracks"
              target="blank"
            >
              <i class="fab fa-soundcloud"></i> Sound cloud
            </a>
          </b-button>
          <b-button pill>
            <a
              href="https://www.youtube.com/channel/UCuOZR9wGozrpGLW_HPoOKJw"
              target="blank"
            >
              <i class="fab fa-youtube"></i> Youtube
            </a>
          </b-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "Contact"
};
</script>

<style scoped>
#contact {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: rgb(222, 222, 222);
  background: linear-gradient(
    211deg,
    rgba(222, 222, 222, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
</style>
