<template>
  <b-container>
    <b-row class="d-flex justify-content-center pb-3">
      <p>
        Site internet créé par
        <a href="http://syriane-bonjean.fr" target="blank">Syriane Bonjean</a>
      </p>
    </b-row>
  </b-container>
</template>
<script>
export default {
  name: "Copyright"
};
</script>
<style scoped lang="scss"></style>
