<template>
  <b-row no-gutters align-v="center">
    <b-col md="12">
      <b-embed
        type="iframe"
        aspect="16by9"
        src="https://www.youtube.com/embed/tO1Q2LxPPR4"
        allowfullscreen
      />
    </b-col>
    <b-col
      class="bg d-flex flex-column align-items-center justify-content-center pb-3 pt-2"
      cols="12"
      md="12"
    >
      <p>
        Bande son originale et design sonore réalisés en collaboration avec
        Baptiste Leblanc pour « Gourmandise », un court-métrage d’animation
        étudiant créé par Pauline Baz et Marie Prieux chez ARIES.
      </p>
    </b-col>
  </b-row>
</template>
<script>
export default {
  name: "Gourmandise"
};
</script>

<style scoped>
.bg {
  background-color: #161321;
}
p {
  margin-bottom: 0;
  padding: 10px;
  color: white;
}
</style>
