<template>
  <div id="home">
    <b-container>
      <b-row type="flex" justify="center">
        <b-col class="cover-img" cols="12" lg="6">
          <img
            src="../assets/img/clavier.jpg"
            alt="random music themed picture"
          />
        </b-col>
        <b-col
          cols="12"
          lg="6"
          class="d-flex flex-column justify-content-center"
        >
          <h1>
            Axel Achard 
            <img
              class="axelPic"
              src="../assets/img/axel.jpg"
              alt="random music themed picture"
            />
          </h1>
          <h2>Compositeur & Designer Sonore</h2>
          <p>
            Passionné par le son et l’image, la confection d’univers sonores me tient particulièrement à cœur. Toute les facettes d’une œuvre audio-visuelle doivent être en consonance, et c’est à nous de le faire transparaître au spectateur. Diplômé d’un Master en « Composition de Musique à l’Image », j’enrichi mon travail par une curiosité vidéoludique, cinématographique et au travers d’innovations technologiques.
          </p>
          <p>--</p>
          <p>
            Passionate about both sound and image, the creation of sound worlds is particularly close to my heart. All the facets of an audio-visual work must be in consonance, and it is up to us to make it transpire to the spectator. Graduated with a Master's degree in "Music Compositon for Screen", I enrich my work by a curiosity for video games, cinema and through technological innovations.
          </p>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  name: "Home"
};
</script>
<style scoped lang="scss">
#home {
  padding: 20px 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(35, 37, 54);
  background: linear-gradient(
    333deg,
    rgba(35, 37, 54, 1) 0%,
    rgba(22, 19, 33, 1) 33%,
    rgba(16, 13, 20, 1) 100%
  );
  color: white;
}
.axelPic {
  height: 18vh;
  border-radius: 50%;
  overflow: hidden;
}
.cover-img {
  img {
    max-width: 100%;
    height: auto;
  }
}
</style>
