<template>
  <div id="menuContainer">
    <b-nav class="bg">
      <b-nav-item href="#home"> <i class="fas fa-home"></i> - Home </b-nav-item>
      <b-nav-item href="#portfolio">
        <i class="fas fa-volume-up"></i> - Portfolio
      </b-nav-item>
      <b-nav-item href="#contact">
        <i class="fas fa-address-book"></i> - Contact
      </b-nav-item>
    </b-nav>
  </div>
</template>
<script>
export default {
  name: "Menu"
};
</script>
<style scoped lang="scss">
#menuContainer {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 30px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
  a {
    display: flex;
    align-items: center;
  }
}
.bg {
  background-color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 768px) {
  #menuContainer {
    margin-top: 0;
    padding-right: 0;
    left: 0;
    .fas {
      display: none;
    }
    ul {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }
  }
}
</style>
