<template>
  <div id="portfolio">
    <b-container>
      <b-row>
        <b-col cols="12">
          <h2 class="text-right">Portfolio</h2>
          <hr />
        </b-col>
      </b-row>
      <b-row class="mt-5">
        <b-col cols="12" lg="10">
          <h3>Jeux-vidéos</h3>
        </b-col>
      </b-row>
      <b-row class="mt-5">
        <b-col>
          <ProjectsTabs />
        </b-col>
      </b-row>
      <b-row class="mt-5">
        <b-col cols="12" lg="10">
          <h3>Courts-métrages d’animation</h3>
        </b-col>
      </b-row>
      <b-row class="mt-5">
        <b-col>
          <ProjectsCM />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ProjectsTabs from "./Projects-tabs";
import ProjectsCM from "./ProjectsCM";
export default {
  name: "Portfolio",
  components: { ProjectsTabs, ProjectsCM }
};
</script>
<style scoped>
#portfolio {
  padding: 80px 0;
  background: rgb(215, 215, 222);
  background: linear-gradient(
    216deg,
    rgba(215, 215, 222, 1) 0%,
    rgba(152, 152, 154, 1) 100%
  );
}
</style>
