<template>
  <b-row no-gutters align-v="center">
    <b-col md="7">
      <b-embed
        type="iframe"
        aspect="16by9"
        src="https://www.youtube.com/embed/9nkjQA29igQ"
        allowfullscreen
      />
    </b-col>
    <b-col
      class="bg d-flex flex-column align-items-center justify-content-center pb-3 pt-2"
      cols="12"
      md="5"
    >
      <p>
        Bande son originale réalisé pour "Age of Viking Conquest", un jeu-vidéo
        produit chez Interactive Argonauts à Grenoble
      </p>
      <iframe
        width="100%"
        height="200"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/347216058&color=%23EBEA17&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
      ></iframe>
      <b-button pill class="mt-3">
        <a
          href="https://store.steampowered.com/app/792930/Age_of_Viking_Conquest/"
          target="blank"
        >
          <i class="fab fa-steam"></i> Voir le jeu sur Steam
        </a>
      </b-button>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "Shango"
};
</script>

<style scoped>
.bg {
  background-color: #161321;
}
p {
  margin-bottom: 0;
  padding: 10px;
  color: white;
}
</style>
