<template>
  <b-row no-gutters align-v="center">
    <b-col cols="12" md="8">
      <b-embed
        type="iframe"
        aspect="16by9"
        src="https://www.youtube.com/embed/0MTwHJAF4Zk"
        allowfullscreen
      />
    </b-col>
    <b-col
      class="bg d-flex flex-column align-items-center justify-content-center pb-3 pt-2"
      cols="12"
      md="4"
    >
      <p>
        Bande son originale et design sonore réalisés pour « Code S-44 », un
        jeu-vidéo créé chez « Bellecour Ecole » à Lyon.
      </p>
      <b-button pill>
        <a
          href="https://store.steampowered.com/app/1055380/Code_S44_Episode_1/"
          target="blank"
        >
          <i class="fab fa-steam"></i> Voir le jeu sur Steam
        </a>
      </b-button>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "Project1"
};
</script>

<style scoped>
.bg {
  background-color: #161321;
}
p {
  margin-bottom: 0;
  padding: 10px;
  color: white;
}
</style>
