<template>
  <b-row no-gutters align-v="center">
    <b-col md="12">
      <b-embed
        type="iframe"
        aspect="16by9"
        src="https://www.youtube.com/embed/djcGNU5F9Ys"
        allowfullscreen
      />
    </b-col>
    <b-col
      class="bg d-flex flex-column align-items-center justify-content-center pb-3 pt-2"
      cols="12"
      md="12"
    >
      <p>
        Remise en musique et design sonore d'un court-métrage d'animation
        "Anna", créé par Alexia Rubod, Antoine Poyard, Jordann Jacobe et Alexis
        Choquard.
      </p>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "Project6"
};
</script>

<style scoped>
.bg {
  background-color: #161321;
}
p {
  margin-bottom: 0;
  padding: 10px;
  color: white;
}
</style>
