<template>
  <div>
    <b-tabs class="tabs" pills vertical nav-wrapper-class="col-12 col-md-3">
      <b-tab class="tab1" title="The Witcher 3" active>
        <Project9 />
      </b-tab>
      <b-tab title="Cyberpunk 2077" lazy>
        <Project8 />
      </b-tab>
      <b-tab title="Code S-44 : Episode 1" lazy>
        <Project1 />
      </b-tab>
      <b-tab title="Shango" lazy>
        <Project2 />
      </b-tab>
      <b-tab title="Age of Viking Conquest" lazy>
        <Project3 />
      </b-tab>
      <b-tab title="La Grande Supercherie" lazy>
        <Project4 />
      </b-tab>
      <b-tab title="Le Monde Perdu" lazy>
        <Project5 />
      </b-tab>
      <b-tab title="Race Up" lazy>
        <Raceup />
      </b-tab>
      <b-tab title="Les Songes de Picasso" lazy>
        <Songespicasso />
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
import Project1 from "./Project1";
import Project2 from "./Project2";
import Project3 from "./Project3";
import Project4 from "./Project4";
import Project5 from "./Project5";
import Project8 from "./Project8";
import Project9 from "./Project9";
import Raceup from "./Raceup";
import Songespicasso from "./Songespicasso";
export default {
  name: "Projects-tabs",
  components: {
    Project1,
    Project2,
    Project3,
    Project4,
    Project5,
    Raceup,
    Songespicasso,
    Project8,
    Project9
  }
};
</script>

<style scoped lang="scss"></style>
