<template>
  <b-row no-gutters align-v="center">
    <b-col md="7">
      <b-embed
        type="iframe"
        aspect="16by9"
        src="https://www.youtube.com/embed/pmATufbzS8A"
        allowfullscreen
      />
    </b-col>
    <b-col
      class="bg d-flex flex-column align-items-center justify-content-center pb-3 pt-2"
      cols="12"
      md="5"
    >
      <p>
        Un prototype de musique interactive pour un univers sombre et futuriste,
        correspondant au jeu du studio CD Projekt Red : Cyberpunk 2077.
        Pour vous donner un aperçu, un extrait vidéo servira ici de support visuel.
      </p>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "Project8"
};
</script>

<style scoped>
.bg {
  background-color: #161321;
}
p {
  margin-bottom: 0;
  padding: 10px;
  color: white;
}
</style>
