<template>
  <b-row no-gutters align-v="center">
    <b-col md="7">
      <b-embed
        type="iframe"
        aspect="16by9"
        src="https://www.youtube.com/embed/RdVefScFNVk"
        allowfullscreen
      />
    </b-col>
    <b-col
      class="bg d-flex flex-column align-items-center justify-content-center pb-3 pt-2"
      cols="12"
      md="5"
    >
      <p>
        Remise en musique d'une scène du jeu-vidéo "The Witcher 3" et plus précisément de l'extension Hearts of Stone.
        Les dialogues et bruitages sont d'origines, uniquement la musique a été ré-écrite.
      </p>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "Project9"
};
</script>

<style scoped>
.bg {
  background-color: #161321;
}
p {
  margin-bottom: 0;
  padding: 10px;
  color: white;
}
</style>
