<template>
  <div>
    <b-tabs class="tabs" pills vertical nav-wrapper-class="col-12 col-md-3">
      <b-tab class="tab1" title="Omerta" active>
        <Project6 />
      </b-tab>
      <b-tab title="Anna" lazy>
        <Project7 />
      </b-tab>
      <b-tab title="Gargouillis" lazy>
        <Gargouillis />
      </b-tab>
      <b-tab title="Soyouz" lazy>
        <Soyouz />
      </b-tab>
      <b-tab title="Gourmandise" lazy>
        <Gourmandise />
      </b-tab>
      <b-tab title="Lune, ma Lune" lazy>
        <Lune />
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
import Project6 from "./Project6";
import Project7 from "./Project7";
import Gargouillis from "./Gargouillis";
import Soyouz from "./Soyouz";
import Gourmandise from "./Gourmandise";
import Lune from "./Lune";
export default {
  name: "ProjectsCM",
  components: { Project6, Project7, Gargouillis, Soyouz, Gourmandise, Lune }
};
</script>

<style scoped lang="scss"></style>
