<template>
  <div id="showreel">
    <b-container>
      <b-row type="flex" justify="center">
        <b-col cols="12" lg="6">
          <b-embed
              type="iframe"
              aspect="16by9"
              src="https://www.youtube.com/embed/w1SgsDWg94o"
              allowfullscreen
          />
        </b-col>
        <b-col cols="12" lg="6">
        <b-embed
          type="iframe"
          aspect="16by9"
          src="https://www.youtube.com/embed/rjh2Jv9txds"
          allowfullscreen
        />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  name: "Showreel"
};
</script>
<style scoped lang="scss">
#showreel {
  padding: 20px 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(16, 13, 20);
  color: white;
}
</style>
