<template>
  <b-row no-gutters align-v="center">
    <b-col cols="12" md="8">
      <b-embed
        type="iframe"
        aspect="16by9"
        src="https://www.youtube.com/embed/zZOYt2f1TCg"
        allowfullscreen
      />
    </b-col>
    <b-col
      class="bg d-flex flex-column align-items-center justify-content-center pb-3 pt-2"
      cols="12"
      md="4"
    >
      <p>
        Bande son originale et design sonore réalisés pour « Les Songes de
        Picasso », un jeu-vidéo étudiant créé par Léa Yu chez COHL.
      </p>
    </b-col>
  </b-row>
</template>
<script>
export default {
  name: "Songespicasso"
};
</script>

<style scoped>
.bg {
  background-color: #161321;
}
p {
  margin-bottom: 0;
  padding: 10px;
  color: white;
}
</style>
