<template>
  <b-row no-gutters align-v="center">
    <b-col md="12">
      <b-embed
        type="iframe"
        aspect="16by9"
        src="https://www.youtube.com/embed/3wL2kGToiTw"
        allowfullscreen
      />
    </b-col>
    <b-col
      class="bg d-flex flex-column align-items-center justify-content-center pb-3 pt-2"
      cols="12"
      md="12"
    >
      <p>
        Bande son originale et design sonore réalisés pour « Soyouz », un
        court-métrage d’animation étudiant créé par Gabrielle Pereira Ramos chez
        COHL.
      </p>
    </b-col>
  </b-row>
</template>
<script>
export default {
  name: "Soyouz"
};
</script>

<style scoped>
.bg {
  background-color: #161321;
}
p {
  margin-bottom: 0;
  padding: 10px;
  color: white;
}
</style>
