F<template>
  <div id="app">
    <Menu />
    <Home />
    <Showreel />
    <Portfolio />
    <Contact />
    <Copyright />
  </div>
</template>

<script>
import Menu from "./components/Menu.vue";
import Home from "./components/Home";
import Showreel from "./components/ShowReel";
import Portfolio from "./components/Portfolio";
import Contact from "./components/Contact";
import Copyright from "./components/Copyright";
export default {
  name: "app",
  components: {
    Contact,
    Home,
    Showreel,
    Menu,
    Portfolio,
    Copyright
  }
};
</script>
<style>
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Raleway&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
}
p,
a,
ul,
li,
div {
  font-family: "Raleway", sans-serif;
}
p {
  font-size: 15px;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 30px;
}
</style>
